html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
img {
  vertical-align: bottom;
  border: none;
}
button,
input,
select,
textarea {
  vertical-align: middle;
}
input {
  outline: 0;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
textarea {
  overflow: auto;
  vertical-align: top;
  font-family: sans-serif;
}
a {
  color: inherit;
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout--animation {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    position: absolute;
    z-index: -10;
  }
}
@-webkit-keyframes fadeout--animation {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    position: absolute;
    z-index: -10;
  }
}
@-o-keyframes fadeout--animation {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    position: absolute;
    z-index: -10;
  }
}
@keyframes fadeout--animation {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    position: absolute;
    z-index: -10;
  }
}
@-moz-keyframes down {
  from {
    top: 0;
  }
  to {
    top: 10px;
  }
}
@-webkit-keyframes down {
  from {
    top: 0;
  }
  to {
    top: 10px;
  }
}
@-o-keyframes down {
  from {
    top: 0;
  }
  to {
    top: 10px;
  }
}
@keyframes down {
  from {
    top: 0;
  }
  to {
    top: 10px;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes trans_up {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, -50px);
  }
}
@-webkit-keyframes trans_up {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, -50px);
  }
}
@-o-keyframes trans_up {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, -50px);
  }
}
@keyframes trans_up {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, -50px);
  }
}
@-moz-keyframes trans_down {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 50px);
  }
}
@-webkit-keyframes trans_down {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 50px);
  }
}
@-o-keyframes trans_down {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 50px);
  }
}
@keyframes trans_down {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 50px);
  }
}
@-moz-keyframes trans_big {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes trans_big {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes trans_big {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes trans_big {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes trans_deg {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes trans_deg {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes trans_deg {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes trans_deg {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.cf:after {
  content: "";
  clear: both;
  display: block;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 62.5%;
}
body {
  min-height: 100%;
  height: 100%;
  font-family: "ヒラギノ角ゴ ProN W3", 'Hiragino Kaku Gothic ProN', "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}
main {
  font-family: a-otf-futo-min-a101-pr6n, serif;
  font-weight: 400;
  font-style: normal;
}
header {
  position: relative;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 75px;
  background: #c01a25;
  transition: 0.5s;
}
header .header__inner {
  margin: 0 auto;
  width: 90.8%;
  height: 100%;
}
header .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .header__nav .header__nav--logo {
  display: none;
}
header .header__nav .header__nav--logo img {
  width: 136px;
  height: 60px;
}
header .header__nav .header__nav--list {
  display: flex;
  color: #fff;
  font-size: 18px;
}
header .header__nav .header__nav--list li {
  position: relative;
  margin: 0 0 0 45px;
}
header .header__nav .header__nav--list li:after {
  content: "";
  transition: 0.3s;
}
header .header__nav .header__nav--list li:hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background: #fff;
}
header .header__nav .header__nav--list li a {
  text-decoration: none;
}
.top__btn {
  margin: 0 0 0 auto;
  width: 123px;
  height: 91px;
  background: url("/img/top_btn.png");
}
.top__btn a {
  display: block;
  width: 100%;
  height: 100%;
}
footer {
  background: #c01a25;
  color: #fff;
}
footer .footer__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 33px 0 48px 0;
  width: 80%;
}
footer .footer__inner .footer__info {
  margin-top: 67px;
  font-size: 12px;
}
footer .footer__inner .footer__info .footer__shopname {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}
footer .footer__inner .footer__info .footer__address {
  margin-bottom: 5px;
}
footer .footer__inner .footer__logo .logo--image {
  margin-bottom: 30px;
  width: 175px;
  height: 78px;
}
footer .footer__inner .footer__logo .logo--image a {
  display: block;
  width: 100%;
  height: 100%;
}
footer .footer__inner .footer__logo .logo--copyright {
  text-align: center;
}
footer .footer__inner .footer__nav .footer__nav--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -20px;
  padding-left: 20px;
  width: 170px;
}
footer .footer__inner .footer__nav .footer__nav--list li {
  width: 60px;
  margin-bottom: 15px;
  font-size: 12px;
}
footer .footer__inner .footer__nav .footer__nav--list li a {
  text-decoration: none;
}
footer .footer__inner .footer__nav .footer__sns-icons {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0 auto;
  width: 85px;
}
footer .footer__inner .footer__nav .footer__sns-icons li {
  margin-left: 10px;
}
footer .footer__inner .footer__nav .footer__sns-icons li a {
  display: block;
  width: 100%;
  height: 100%;
}
footer .footer__inner .footer__nav .footer__sns-icons li:nth-child(1) {
  margin-left: 0px;
  width: 20px;
  height: 20px;
  background: url("/img/insta.png");
}
footer .footer__inner .footer__nav .footer__sns-icons li:nth-child(2) {
  width: 20px;
  height: 20px;
  background: url("/img/twitter.png");
}
footer .footer__inner .footer__nav .footer__sns-icons li:nth-child(3) {
  width: 20px;
  height: 20px;
  background: url("/img/facebook.png");
}
.category {
  position: relative;
  margin: auto 0;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  font-size: 20px;
  color: #9a9494;
}
.category:after {
  content: "";
  display: block;
  position: absolute;
  left: -9px;
  width: 1px;
  height: 100%;
  background: #9a9494;
}
.mv {
  position: relative;
  width: 100%;
  background: #c01a25;
  box-sizing: border-box;
}
.mv .mv__inner {
  width: 90.8%;
  margin: 0 auto;
}
.mv .mv__inner .mv__logo {
  position: absolute;
  z-index: 2000;
  top: -47px;
  left: 41px;
  width: 82px;
  height: 124px;
}
.mv .mv__inner .mv__img {
  margin: 0 auto;
  width: 1304px;
  height: 640px;
  background: url("../../img/mv_img.png");
}
.mv .mv__inner .mv__copy {
  position: absolute;
  bottom: 77px;
  right: 44px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  font-size: 40px;
  color: #fff;
}
.mv .mv__inner .scroll {
  position: relative;
  padding: 29px 0 37px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  opacity: 0.8;
}
.mv .mv__inner .scroll .scroll_arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 50px auto 0;
  width: 15px;
  height: 8px;
  background: url("../../img/scroll.png") no-repeat;
  animation: down 0.7s ease-in-out 0s infinite alternate;
}
.feature {
  width: 100%;
  margin: 72px 0;
}
.feature .feature__inner {
  display: flex;
  margin: 0 auto;
  width: 90.8%;
}
.feature .feature__inner .feature__section {
  margin: 0 auto;
  width: 860px;
  height: 337px;
  box-shadow: 0px 0px 50px 0px #aaa;
  transition: 0.5s;
}
.feature .feature__inner .feature__section:hover {
  box-shadow: 0px 0px 50px 0px #666;
}
.feature .feature__inner .feature__section a {
  display: flex;
  text-decoration: none;
}
.feature .feature__inner .feature__section a .feature__image {
  width: 512px;
  height: 337px;
  background: url("../../img/banner.jpg");
}
.feature .feature__inner .feature__section a .feature__contents {
  width: 342px;
  height: 337px;
  box-sizing: border-box;
}
.feature .feature__inner .feature__section a .feature__contents .feature__title {
  margin: 204px auto 0;
  width: 80%;
  font-size: 15px;
  font-family: YuGothic, 'Yu Gothic', sans-serif;
  line-height: 21px;
}
.feature .feature__inner .feature__section a .feature__contents .feature__date {
  margin: 22px auto 0;
  width: 80%;
  font-size: 12px;
}
.feature .feature__inner .feature__news-more {
  display: flex;
  align-items: flex-end;
  margin-right: 80px;
  margin-left: -80px;
}
.feature .feature__inner .feature__news-more :hover .news-more__arrow {
  background: url("../../img/arrow_on.png");
}
.feature .feature__inner .feature__news-more :hover .news-more__text {
  color: #c01a25;
}
.feature .feature__inner .feature__news-more .news-more__arrow {
  width: 61px;
  height: 13px;
  background: url("../../img/arrow_off.png");
  transition: 1.5s;
}
.feature .feature__inner .feature__news-more .news-more__text {
  margin-top: 3px;
  color: #9a9494;
  transition: 1.5s;
}
.feature .feature__inner .feature__news-more a {
  text-decoration: none;
}
.concept {
  position: relative;
  width: 100%;
}
.concept .category {
  color: #fff;
}
.concept .category:after {
  background: #fff;
}
.concept .concept__top {
  height: 512px;
  background: #e95b64;
}
.concept .concept__bottom {
  height: 512px;
  background: #c01a25;
}
.concept .concept__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90.8%;
  height: 100%;
}
.concept .concept__inner .concept__image {
  position: absolute;
  top: 79px;
  right: 0;
  width: 1317px;
  height: 683px;
  background: url("../../img/concept_img.png");
}
.concept .concept__inner .concept__title {
  position: absolute;
  bottom: 206px;
  left: 177px;
  font-size: 30px;
  color: #fff;
}
.concept .concept__inner .concept__title strong {
  font-size: 85px;
}
.concept .concept__inner .concept__text {
  margin: 330px 0 0 110px;
  width: 844px;
  font-size: 15px;
  line-height: 27px;
  color: #fff;
}
.shop {
  position: relative;
  width: 100%;
}
.shop .shop__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90.8%;
  height: 100%;
}
.shop .shop__top {
  height: 483px;
  background: #eee;
}
.shop .shop__top .shop__image--interior {
  position: absolute;
  top: 92px;
  right: 0;
  width: 1317px;
  height: 531px;
  background: url("../../img/shop_img.png");
}
.shop .shop__bottom {
  height: 512px;
  background: #c01a25;
  color: #fff;
}
.shop .shop__bottom .shop__section {
  margin: 161px 0 0 260px;
}
.shop .shop__bottom .shop__section .shop__name {
  font-size: 30px;
  font-family: a-otf-futo-min-a101-pr6n, serif;
  font-weight: 400;
  font-style: normal;
}
.shop .shop__bottom .shop__section p {
  font-size: 15px;
  font-family: YuGothic, 'Yu Gothic', sans-serif;
}
.shop .shop__bottom .shop__section .shop__address {
  margin-top: 13px;
}
.shop .shop__bottom .shop__section .shop__hours {
  margin-top: 5px;
}
.shop .shop__bottom .shop__section .googlemap {
  margin: 24px 0 0 0;
  width: 386px;
  height: 188px;
}
.shop .shop__bottom .shop__image--appearance {
  margin: 161px 0 0 170px;
  width: 435px;
  height: 299px;
  background: url("../../img/shop_appearance.png");
}
.menu {
  width: 100%;
  background: #fff;
}
.menu .menu__inner {
  display: flex;
  margin: 80px auto 0;
  width: 90.8%;
}
.menu .menu__inner .menus {
  margin: 0 auto;
  width: 1194px;
}
.menu .menu__inner .menus__recommendation {
  font-size: 30px;
}
.menu .menu__inner .menus__recommendation:after {
  content: "";
  display: block;
  margin-top: 8px;
  width: 334px;
  height: 5px;
  background: url("../../img/underline.png") no-repeat;
}
.menu .menu__inner .menus__list {
  display: flex;
  margin: 30px auto 0;
  width: 1194px;
}
.menu .menu__inner .menus__list .menus__contents {
  position: relative;
  margin-right: 35px;
  width: 374px;
  height: 325px;
  transition: 0.3s;
}
.menu .menu__inner .menus__list .menus__contents:hover {
  background: #c01a25;
  color: #fff;
}
.menu .menu__inner .menus__list .menus__contents:nth-child(3) {
  margin-right: 0;
}
.menu .menu__inner .menus__list .menus__contents a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.menu .menu__inner .menus__list .menus__contents .menus__title {
  margin: 17px 0 10px 10px;
  font-size: 15px;
}
.menu .menu__inner .menus__list .menus__contents .menus__image {
  margin: 0 auto;
  width: 354px;
  height: 181px;
}
.menu .menu__inner .menus__list .menus__contents .menus__text {
  margin: 24px 0 0 10px;
  width: 330px;
  font-family: YuGothic, 'Yu Gothic', sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.menu .menu__inner .menus__list .menus__contents .menus__price {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-family: YuGothic, 'Yu Gothic', sans-serif;
}
.menu .menu__inner .menus__list .menus__contents:nth-child(1) .menus__image {
  background: url("../../img/menu_img1.jpg");
}
.menu .menu__inner .menus__list .menus__contents:nth-child(2) .menus__image {
  background: url("../../img/menu_img2.jpg");
}
.menu .menu__inner .menus__list .menus__contents:nth-child(3) .menus__image {
  background: url("../../img/menu_img3.jpg");
}
.menu .menu__inner .menu-more {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0px 30px 0;
}
.menu .menu__inner .menu-more:hover .menu-more__arrow {
  background: url("../../img/arrow_on.png");
}
.menu .menu__inner .menu-more:hover .menu-more__text {
  color: #c01a25;
}
.menu .menu__inner .menu-more .menu-more__arrow {
  width: 61px;
  height: 13px;
  background: url("../../img/arrow_off.png");
  transition: 1.5s;
}
.menu .menu__inner .menu-more .menu-more__text {
  margin-top: 3px;
  transition: 1.5s;
}
.menu .menu__inner .menu-more a {
  text-decoration: none;
}
.copy--anime {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  animation: fadeout--animation 1s ease 15s 1 normal forwards;
  width: 100vw;
  height: 100vh;
  background: #fff;
}
.copy--anime h1 {
  margin: 18% auto;
  font-size: 100px;
}
.copy--anime span {
  font-family: fot-klee-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.copy--anime span:first-child {
  opacity: 0;
  animation: fadein 4s ease 12s 1 normal forwards;
}
.copy--anime span:last-child {
  opacity: 0;
  animation: fadein 4s ease 13s 1 normal forwards;
}
.copy--anime span em {
  font-family: tbcgothic-std, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #c01a25;
}
#loading__animation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100%;
  height: 100%;
  background: #fff;
}
#loading__animation .cow {
  position: absolute;
  top: calc(50% - 20vmin - 30px);
  left: calc(50% - 20vmin);
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-wrap: wrap;
  width: 40vmin;
  height: 80vmin;
  overflow: hidden;
  box-sizing: border-box;
}
#loading__animation .cow span {
  display: block;
  width: 25%;
  height: 50%;
  background-image: url("../../img/cow.svg");
  background-size: 400% 400%;
  background-repeat: no-repeat;
  opacity: 1;
}
#loading__animation .cow span:nth-child(1) {
  background-position: 0% center;
}
#loading__animation .cow span:nth-child(2) {
  background-position: 34% center;
}
#loading__animation .cow span:nth-child(3) {
  background-position: 67% center;
}
#loading__animation .cow span:nth-child(4) {
  background-position: 100% center;
}
#loading__animation .meat {
  position: absolute;
  top: calc(50% - 20vmin - 10px);
  left: calc(50% - 10vmin);
  display: flex;
  padding-top: 100px;
  flex-wrap: wrap;
  width: 20vmin;
  height: 40vmin;
}
#loading__animation .meat span {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../img/steak_1.svg");
  background-repeat: no-repeat;
  opacity: 0;
  transform: scale(0);
}
#loading__animation .steak {
  position: absolute;
  top: calc(50% - 20vmin - 10px);
  left: calc(50% - 10vmin);
  display: flex;
  padding-top: 100px;
  flex-wrap: wrap;
  width: 20vmin;
  height: 40vmin;
}
#loading__animation .steak span {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../img/steak_2.svg");
  background-repeat: no-repeat;
  opacity: 0;
}
#loading__animation .smoke {
  position: absolute;
  top: calc(50% - 20vmin - 30px);
  left: calc(50% - 5vmin);
  display: flex;
  padding-top: 100px;
  flex-wrap: wrap;
  width: 20vmin;
  height: 40vmin;
}
#loading__animation .smoke span {
  display: block;
  width: 50%;
  height: 50%;
  background-image: url("../../img/effect.svg");
  background-repeat: no-repeat;
  opacity: 0;
}
#loading__animation {
  animation: fadeout--animation 1.2s ease 9.8s forwards;
}
#loading__animation .cow span:nth-child(odd) {
  animation: fadein 1.5s ease 0s forwards, fadeout 1s ease 2.5s forwards;
}
#loading__animation .cow span:nth-child(even) {
  animation: fadein 1.5s ease 0s forwards, fadeout 1s ease 2.5s forwards;
}
#loading__animation .cow span:nth-child(3) {
  animation: fadein 1.5s ease 0s forwards, trans_down 2s ease 1.5s forwards, fadeout 1s ease 2.5s forwards;
}
#loading__animation .meat span {
  animation: fadein 1.5s ease 3s forwards, trans_big 1s ease 3.5s forwards, trans_deg 1.5s ease 4.5s forwards, fadeout 3s ease 6s forwards;
}
#loading__animation .steak span {
  animation: fadein 1s ease 6.3s forwards, fadeout 1s ease 9s forwards;
}
#loading__animation .smoke span {
  animation: fadein 1s ease 6.3s forwards, trans_up 4s ease 6.3s forwards, fadeout 1s ease 7.5s forwards;
}