<%= stylesheet_link_tag "lp/lp", :media => "all" %>
<%= javascript_include_tag 'fonts_lp.js' %>
<main id="lp">
  <section class="mv">
    <div class="mv__inner">
      <div class="mv__meat">
        <div class="mv__meat--1"></div>
        <div class="mv__meat--2"></div>
        <div class="mv__meat--3"></div>
        <div class="mv__meat--4"></div>
      </div>
      <div class="mv__copy">
        <h1 class="mv__copy--title">~<em>肉</em>は世界を<em>救</em>う~<br><strong>全人類肉食化計画</strong></h1>
        <h2 class="mv__copy--text">
          <p>時は来た・・・</p>
          <p>今こそ、肉を喰え<span>!!</span></p>
        </h2>
      </div>
    </div>
  </section>
  <section class="description">
    <div class="description__inner">
      <h3 class="description__title">肉を愛する全人類の為に</h3>
      <p class="description__text"><span>肉を愛する全人類のために、<br></span><span>肉好きが贈る、肉好きの為の、<br></span><span>肉だけの食べ放題。<br></span><span>肉への願望を解き放ち、<br></span><span>思う存分に肉を楽しめ。<br></span><span>それが、人類肉食化計画である。<br></span><span>さあ、あなたも計画に参加せよ。<br></span></p>
      <p class="description__signature">全人類肉食化計画実行委員会</p>
    </div>
  </section>
  <section class="happy">
    <div class="happy__inner">
      <h3 class="happy__title"><strong>肉</strong>は、人類を<strong>幸</strong>せにする。</h3>
      <p class="happy__text">肉には、トリプトファンという幸せホルモンを作り出す成分が多く含まれている。このことから全人類が肉を食べることにより、全人類が幸せに包まれ、世界は救われることになる。</p>
      <div class="happy__visual">
        <div class="happy__visual--fire"></div>
        <div class="happy__visual--meat"></div>
        <div class="happy__visual--human"></div>
        <div class="happy__visual--happy"></div>
      </div>
    </div>
  </section>
  <section class="message">
    <div class="message__inner">
      <h3 class="message__title"><strong>集</strong>え、<strong>幸</strong>せのために<strong>!!</strong></h3>
    </div>
  </section>
  <section class="about">
    <div class="about__inner">
      <h3 class="about__title">〜肉は世界は救う〜<br><strong>全人類肉食化計画</strong></h3>
      <h4 class="about__planning">肉限定食べ放題</h4>
      <p class="about__shopname">1015 BASE CAMP 苦楽園店</p>
      <p class="about__date">毎月<strong>29</strong>日開催</p>
      <ul class="about__prices">
        <li class="about__price">
          <p>男性</p>
          <p><strong>2</strong>,<strong>980</strong>円<small>+税</small></p>
        </li>
        <li class="about__price">
          <p>女性</p>
          <p><strong>1</strong>,<strong>980</strong>円<small>+税</small></p>
        </li>
      </ul>
      <ul class="btns">
        <li class="btn"><a href="../">ホームページ</a></li>
        <li class="btn"><a href="/form/">予約ページ</a></li>
      </ul>
    </div>
    <footer>
      <p>©︎ 2019 1015 BASE CAMP inc.</p>
    </footer>
  </section>
</main>