<%= stylesheet_link_tag "under/under", :media => "all" %>
<%= javascript_include_tag 'fonts.js' %>
<main id="form">
  <header id="header">
    <div class="header__inner">
      <nav class="header__nav"><a href="/">
          <h1 class="header__nav--logo" id="nav__logo"><img src="/img/footer_logo.svg" alt="1015 BASE CAMP"/></h1></a>
        <ul class="header__nav--list">
          <li><a href="/">TOP</a></li>
          <li><a href="/news/">NEWS</a></li>
          <li><a href="/menu/">MENU</a></li>
          <li><a href="/form/">RESERVE</a></li>
          <li><a href="https://ec.10-15.jp/">ONLINE</a></li>
        </ul>
      </nav>
    </div>
  </header>
        <div class="under-layer__head">
          <div class="under-layer__inner">
            <h2 class="under-layer__title">RESERVE</h2>
          </div>
        </div>
  <div class="reserve">
    <div class="reserve__inner">
      <h3 class="reserve__title">ご予約フォーム</h3>
      <p class="reserve__text">
        ご予約の際にご利用ください。ご予約完了後に追って連絡させていただきます。<br>
        連絡がない場合は、お手数ですが直接お電話いただきます様、よろしくおねがいします。
      </p>
      <form action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSfnrxebqNqEvooARQis_3FY7fQ8bSf26ohBcHK5b1fsBYisgg/formResponse">
        <div class="form__inner">
          <div class="people">
            <label for="people">1.ご来店人数をお選びください。*</label>
            <select type="text" name="entry.193221498">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10人以上">10人以上</option>
            </select>
          </div>
          <div class="plan">
            <label for="plan">2.プランをお選びください。*</label>
            <ul class="plan__list">
              <li class="plan1"><input type="radio" name="entry.2127599253" value="肉は世界を救う(肉限定食べ放題コース)"><span>肉は世界を救う(肉限定食べ放題コース)</span></li>
              <li class="plan2"><input type="radio" name="entry.2127599253" value="お席のみ"><span>お席のみ</span></li>
            </ul>
          </div>
          <div class="time">
            <label for="time">3.ご来店時間をお選びください。*</label>
            <select type="text" name="entry.1549740420">
              <option value="17:00">17:00</option>
              <option value="17:15">17:15</option>
              <option value="17:30">17:30</option>
              <option value="17:45">17:45</option>
              <option value="18:00">18:00</option>
              <option value="18:15">18:15</option>
              <option value="18:30">18:30</option>
              <option value="18:45">18:45</option>
              <option value="19:00">19:00</option>
              <option value="19:15">19:15</option>
              <option value="19:30">19:30</option>
              <option value="19:45">19:45</option>
              <option value="20:00">20:00</option>
              <option value="20:15">20:15</option>
              <option value="20:30">20:30</option>
              <option value="20:45">20:45</option>
              <option value="21:00">21:00</option>
              <option value="21:15">21:15</option>
              <option value="21:30">21:30</option>
              <option value="21:45">21:45</option>
              <option value="22:00">21:00</option>
              <option value="22:15">21:15</option>
              <option value="22:30">21:30</option>
            </select>
          </div>
          <div class="date">
            <label for="date">4.ご来店日時をお選びください。*</label>
            <div class="date__form">
              <div class="month">
                <select type="text" name="entry.1840579927">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select><span class="date__month">月</span>
              </div>
              <div class="day">
                <select type="text" name="entry.774342700">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select><span class="date__day">日</span>
              </div>
            </div>
          </div>
          <div class="name">
            <label for="name">5.お名前をご記入ください。カタカナ*</label>
            <input type="text" name="entry.42895794"/>
          </div>
          <div class="tel">
            <label for="tel">6.電話番号をご記入ください。*</label>
            <input type="text" name="entry.152284892"/>
          </div>
          <div class="etc">
            <label for="etc">7.その他、備考欄</label>
            <textarea name="entry.1893181680"></textarea>
          </div>
          <div class="submit">
            <input type="submit"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="top__btn"><a href="#"></a></div>
  <footer>
    <div class="footer__inner">
      <div class="footer__info">
        <h3 class="footer__shopname">1015 BASE CAMP</h3>
        <p class="footer__address">兵庫県西宮市豊楽町5－25三幸マンション1階</p>
        <p class="footer__hours">17:00~23:30(LO:22:45)</p>
      </div>
      <div class="footer__logo">
        <h2 class="logo--image"><a href="/"><img src="/img/footer_logo.svg"/></a></h2>
        <p class="logo--copyright">© 2019 1015 BASE CAMP inc.</p>
      </div>
      <nav class="footer__nav">
        <ul class="footer__nav--list">
          <li><a href="/">TOP</a></li>
          <li><a href="/news/">NEWS</a></li>
          <li><a href="/">MENU</a></li>
          <li><a href="/form/">RESERVE</a></li>
          <li><a href="https://ec.10-15.jp/">ONLINE</a></li>
        </ul>
        <ul class="footer__sns-icons">
          <li><a href="https://www.instagram.com/1015_kurakuenn/"></a></li>
          <li><a href="https://twitter.com/jyunojyugo"></a></li>
          <li><a href="https://www.facebook.com/%E3%83%90%E3%83%BC%E3%83%99%E3%82%AD%E3%83%A5%E3%83%BC%E6%96%99%E7%90%86bbq-BASE-Camp-%E8%8B%A6%E6%A5%BD%E5%9C%92%E5%BA%97-813785151976323/"></a></li>
        </ul>
      </nav>
    </div>
  </footer>
</main>
<%= javascript_include_tag 'under-layer_head.js' %>