<%= stylesheet_link_tag "under/under", :media => "all" %>
<%= javascript_include_tag 'fonts.js' %>
<main id="menu">
  <header id="header">
    <div class="header__inner">
      <nav class="header__nav"><a href="/">
          <h1 class="header__nav--logo" id="nav__logo"><img src="/img/footer_logo.svg" alt="1015 BASE CAMP"/></h1></a>
        <ul class="header__nav--list">
          <li><a href="/">TOP</a></li>
          <li><a href="/news/">NEWS</a></li>
          <li><a href="/menu/">MENU</a></li>
          <li><a href="/form/">RESERVE</a></li>
          <li><a href="https://ec.10-15.jp/">ONLINE</a></li>
        </ul>
      </nav>
    </div>
  </header>
        <div class="under-layer__head">
          <div class="under-layer__inner">
            <h2 class="under-layer__title">MENU</h2>
          </div>
        </div>
  <div class="menu">
    <div class="menu__category">
      <div class="category__title__inner">
        <div class="category__decoration--left"></div>
        <h3 class="category__title">Meat</h3>
        <div class="category__decoration--right"></div>
      </div>
      <p class="category__text">US産アンガスビーフをメインに、厳選したお肉をご用意しました。一つ一つ丁寧に調理しておりますので、是非お召し上がりください。</p>
      <ul class="menu__list">
        <li>
          <h4 class="menu__title">フリーカット リブロースステーキ</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__meat--1.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">1g:12円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">炭焼きハラミステーキ</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__meat--2.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">1,480円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">炭焼き厚切り牛タン</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__meat--7.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">1,280+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">牛タンのやわらか赤ワイン煮込み</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__meat--3.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">1,480円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">炭焼き京赤地鶏もも肉(京都山科鶏中)</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__meat--6.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">880円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">骨付ウインナー(1本)  ピリ辛チョリソー(4本)</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__meat--9.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">480円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">ハンガリー産ファグラステーキ</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__meat--5.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">1,080円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">煮込みハンバーグ</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__meat--8.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">880円+(tax)</p>
        </li>
      </ul>
    </div>
    <div class="menu__category">
      <div class="category__title__inner">
        <div class="category__decoration--left"></div>
        <h3 class="category__title">Salad &amp; Meat</h3>
        <div class="category__decoration--right"></div>
      </div>
      <p class="category__text">新鮮な野菜を生産者から直接仕入れているます。お肉が焼き上がるまでの間にお楽しください。</p>
      <ul class="menu__list">
        <li>
          <h4 class="menu__title">砂ズリの和風サラダ山椒風味</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__sv--6.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">780円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">季節野菜のシーザーサラダ</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__sv--5.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">680円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">ブロッコリーと彩り野菜のオーブン焼き</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__sv--7.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">580円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">エビとアボカドのマヨネーズチーズ焼き</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__sv--4.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">680円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">NYスタイルグリルドコーン</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__sv--3.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">680円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">エビとキノコのアヒージョ</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__sv--1.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">980円+(tax)</p>
        </li>
      </ul>
    </div>
    <div class="menu__category">
      <div class="category__title__inner">
        <div class="category__decoration--left"></div>
        <h3 class="category__title">Cheese</h3>
        <div class="category__decoration--right"></div>
      </div>
      <p class="category__text">US産アンガスビーフをメインに、厳選したお肉をご用意しました。一つ一つ丁寧に調理しておりますので、是非お召し上がりください。</p>
      <ul class="menu__list">
        <li>
          <h4 class="menu__title">カマンベールとくるみのオーブン焼き</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__ch--2.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">1,280円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">ハイジのラクレットポテト</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__ch--4.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">780円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">ナチュラルチーズのちょこっと盛り</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__ch--5.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">580円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">チーズのラザニア</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__ch--3.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">780円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">小さなカプレーゼ</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__ch--1.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">380円+(tax)</p>
        </li>
      </ul>
    </div>
    <div class="menu__category">
      <div class="category__title__inner">
        <div class="category__decoration--left"></div>
        <h3 class="category__title">Pasta &amp; Curry</h3>
        <div class="category__decoration--right"></div>
      </div>
      <p class="category__text">US産アンガスビーフをメインに、厳選したお肉をご用意しました。一つ一つ丁寧に調理しておりますので、是非お召し上がりください。</p>
      <ul class="menu__list">
        <li>
          <h4 class="menu__title">ウニクリーム生パスタ</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__pc--1.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">1,380円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">フレッシュトマトとバジルの生パスタ</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__pc--2.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">1180円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">甘口お子様カレー</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__pc--4.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">680円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">辛口大人カレー</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__pc--3.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">880円+(tax)</p>
        </li>
      </ul>
    </div>
    <div class="menu__category">
      <div class="category__title__inner">
        <div class="category__decoration--left"></div>
        <h3 class="category__title">Dessert</h3>
        <div class="category__decoration--right"></div>
      </div>
      <p class="category__text">US産アンガスビーフをメインに、厳選したお肉をご用意しました。一つ一つ丁寧に調理しておりますので、是非お召し上がりください。</p>
      <ul class="menu__list">
        <li>
          <h4 class="menu__title">ティラミス</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__sw--2.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">480円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">チーズタルト</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__sw--1.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">480円+(tax)</p>
        </li>
        <li>
          <h4 class="menu__title">バニラアイスクリーム</h4>
          <p class="menu__img"><span class="img__decoration--top"></span><img src="../img/menu__sw--3.jpg"/><span class="img__decoration--bottom"></span></p>
          <p class="menu__price">300円+(tax)</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="top__btn"><a href="#"></a></div>
  <footer>
    <div class="footer__inner">
      <div class="footer__info">
        <h3 class="footer__shopname">1015 BASE CAMP</h3>
        <p class="footer__address">兵庫県西宮市豊楽町5－25三幸マンション1階</p>
        <p class="footer__hours">17:00~23:30(LO:22:45)</p>
      </div>
      <div class="footer__logo">
        <h2 class="logo--image"><a href="/"><img src="/img/footer_logo.svg"/></a></h2>
        <p class="logo--copyright">© 2019 1015 BASE CAMP inc.</p>
      </div>
      <nav class="footer__nav">
        <ul class="footer__nav--list">
          <li><a href="/">TOP</a></li>
          <li><a href="/news/">NEWS</a></li>
          <li><a href="/">MENU</a></li>
          <li><a href="/form/">RESERVE</a></li>
          <li><a href="https://ec.10-15.jp/">ONLINE</a></li>
        </ul>
        <ul class="footer__sns-icons">
          <li><a href="https://www.instagram.com/1015_kurakuenn/"></a></li>
          <li><a href="https://twitter.com/jyunojyugo"></a></li>
          <li><a href="https://www.facebook.com/%E3%83%90%E3%83%BC%E3%83%99%E3%82%AD%E3%83%A5%E3%83%BC%E6%96%99%E7%90%86bbq-BASE-Camp-%E8%8B%A6%E6%A5%BD%E5%9C%92%E5%BA%97-813785151976323/"></a></li>
        </ul>
      </nav>
    </div>
  </footer>
</main>
<%= javascript_include_tag 'under-layer_head.js' %>