<%= stylesheet_link_tag "home/home", :media => "all" %>
<main class="home">
  <section id="loading__animation">
    <div class="cow"><span></span><span></span><span></span><span></span></div>
    <div class="meat"><span></span></div>
    <div class="steak"><span></span></div>
    <div class="smoke"><span></span></div>
    <div class="logo"><span></span></div>
  </section>
  <section class="copy--anime">
    <h1><span>街中で<em>隠れ家BBQ</em></span><br/><span>してみませんか？</span></h1>
  </section>
  <header id="header">
    <div class="header__inner">
      <nav class="header__nav"><a href="/">
          <h1 class="header__nav--logo" id="nav__logo"><img src="/img/footer_logo.svg" alt="1015 BASE CAMP"/></h1></a>
        <ul class="header__nav--list">
          <li><a href="/">TOP</a></li>
          <li><a href="/news/">NEWS</a></li>
          <li><a href="/menu/">MENU</a></li>
          <li><a href="/form/">RESERVE</a></li>
          <li><a href="https://ec.10-15.jp/">ONLINE</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="mv">
    <div class="mv__inner"><a href="/index.html">
        <h1 class="mv__logo"><img src="../img/top_logo.svg" alt="1015 BASE CAMP"/></h1></a>
      <div class="mv__img"></div>
      <h2 class="mv__copy">街中で隠れ家<span>B</span><span>B</span><span>Q</span></h2>
      <div class="scroll"><a>
          <p class="scroll__text">Scroll</p>
          <div class="scroll_arrow"></div></a></div>
    </div>
  </section>
  <section class="feature">
    <div class="feature__inner">
      <h3 class="category">FEATURE</h3>
      <div class="feature__section"><a href="/lp/">
          <div class="feature__image"></div>
          <div class="feature__contents">
            <h4 class="feature__title">"肉限定"食べ放題「全人類肉食化計画」毎月29日開催。特設サイトをオープンしました。</h4>
            <p class="feature__date">2019.01.30</p>
          </div></a></div>
      <div class="feature__news-more"><a href="/news/">
          <div class="news-more__arrow"></div>
          <p class="news-more__text">News more</p></a></div>
    </div>
  </section>
  <section class="concept">
    <div class="concept__top">
      <div class="concept__inner">
        <h3 class="category">CONCEPT</h3>
        <div class="concept__image"></div>
      </div>
    </div>
    <div class="concept__bottom">
      <div class="concept__inner">
        <h4 class="concept__title"><strong>選</strong>び抜かれた美味しさをあなたへ</h4>
        <p class="concept__text">
          こだわり厳選した牛・豚・鶏に農家直送のお野菜など旬で新鮮な食材を、オリジナルBBQ料理にアレンジしてお手頃価格に
          てご提供しています。また事前ご予約のみのご対応となりますが、煙の出ないBBQロースターを使用して、天候や気温・準
          備や後片付けなどを気にせずに、友人同士やご家族とアットホームでお気軽な室内BBQもお楽しみ頂けます。
          （※貸し切りでのご利用も可能です）
        </p>
      </div>
    </div>
  </section>
  <section class="shop">
    <div class="shop__top">
      <div class="shop__inner">
        <h3 class="category">SHOP</h3>
        <div class="shop__image--interior"></div>
      </div>
    </div>
    <div class="shop__bottom">
      <div class="shop__inner">
        <div class="shop__section">
          <h4 class="shop__name">1015 BASE CAMP 苦楽園店</h4>
          <p class="shop__address">兵庫県西宮市豊楽町5－25三幸マンション1階</p>
          <p class="shop__hours">17:00～23:30(LO:22:45)</p><iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.2233203481348!2d135.32432433228533!3d34.751538808782364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000f31a4e001e2f%3A0x60068967498b9fd1!2sBBQ+BASE+CAMP!5e0!3m2!1sja!2sjp!4v1547921065445" allowfullscreen></iframe>
        </div>
        <div class="shop__image--appearance"></div>
      </div>
    </div>
  </section>
  <section class="menu">
    <div class="menu__inner">
      <h3 class="category">MENU</h3>
      <div class="menus">
        <h4 class="menus__recommendation">シェフのイチオシメニュー</h4>
        <ul class="menus__list">
          <li class="menus__contents"><a href="/menu/">
              <h5 class="menus__title">フリーカット リブロースステーキ</h5>
              <div class="menus__image"></div>
              <p class="menus__text">
                リブロースの大きな塊肉をお客様の目の前にお持ちして、そ
                の場でお好みの大きさにカット致します。
              </p>
              <p class="menus__price">1g:12円+(tax)</p></a></li>
          <li class="menus__contents"><a href="/menu/">
              <h5 class="menus__title">カマンベールとクルミのとろとろオーブン焼き</h5>
              <div class="menus__image"></div>
              <p class="menus__text">
                熱々トロトロのカマンベールチーズに、こんがクルミとあま
                ～いハチミツがベストマッチ！女子人気No1のお肉とワイ
                ンに合う1品です。
              </p>
              <p class="menus__price">1,280円+(tax)</p></a></li>
          <li class="menus__contents"><a href="/menu/">
              <h5 class="menus__title">シェフの気まぐれオススメメニュー</h5>
              <div class="menus__image"></div>
              <p class="menus__text">
                その日のオススメ食材や旬の食材を使ったシェフのオリジナ
                ルアレンジメニュー！
              </p>
              <p class="menus__price">780円～+(tax)</p></a></li>
        </ul>
        <div class="menu-more"><a href="/menu/">
            <div class="menu-more__arrow"></div>
            <p class="menu-more__text">Menu more</p></a></div>
      </div>
    </div>
  </section>
  <div class="top__btn"><a href="#"></a></div>
  <footer>
    <div class="footer__inner">
      <div class="footer__info">
        <h3 class="footer__shopname">1015 BASE CAMP</h3>
        <p class="footer__address">兵庫県西宮市豊楽町5－25三幸マンション1階</p>
        <p class="footer__hours">17:00~23:30(LO:22:45)</p>
      </div>
      <div class="footer__logo">
        <h2 class="logo--image"><a href="/"><img src="/img/footer_logo.svg"/></a></h2>
        <p class="logo--copyright">© 2019 1015 BASE CAMP inc.</p>
      </div>
      <nav class="footer__nav">
        <ul class="footer__nav--list">
          <li><a href="/">TOP</a></li>
          <li><a href="/news/">NEWS</a></li>
          <li><a href="/menu/">MENU</a></li>
          <li><a href="/form/">RESERVE</a></li>
          <li><a href="https://ec.10-15.jp/">ONLINE</a></li>
        </ul>
        <ul class="footer__sns-icons">
          <li><a href="https://www.instagram.com/1015_kurakuenn/"></a></li>
          <li><a href="https://twitter.com/jyunojyugo"></a></li>
          <li><a href="https://www.facebook.com/%E3%83%90%E3%83%BC%E3%83%99%E3%82%AD%E3%83%A5%E3%83%BC%E6%96%99%E7%90%86bbq-BASE-Camp-%E8%8B%A6%E6%A5%BD%E5%9C%92%E5%BA%97-813785151976323/"></a></li>
        </ul>
      </nav>
    </div>
  </footer>
</main>
<%= javascript_include_tag 'fonts.js' %>
<%= javascript_include_tag 'top_head.js' %>